// Стили для галереи
.gallery
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh

    // Стили для изображения
    .galleryImage
        border-radius: 10px

    // Стили для списка с кнопками
    .buttonList
        padding: 0
        list-style: none
        display: flex

        // Стили для элементов с кнопками
        .element
            margin-left: 10px
            margin-right: 10px

            // Стили для кнопок
            .button
                outline: none
                padding: 8px 12px
                border-radius: 10px
                border: none
                background: black
                color: lightgreen
                font-weight: bold
                cursor: pointer
                transition: all 0.1s linear 0s

                &:hover
                    box-shadow: 0px 0px 10px black